body {
  background: #f7f7f7 url("https://38.media.tumblr.com/376a46baffe3444282f3b414a2fd0d46/tumblr_n9hxcf3Bm91st5lhmo1_1280.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto";
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background: #16a085;
  /* IE Fallback */
  background: rgba(22, 160, 133, 0.8);
  width: 100%;
  height: 100%;
}
.list {
  position: absolute;
  width: 360px;
  top: 50%;
  left: 50%;
  margin: -122px 0 100px -180px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.list h1 {
  position: relative;
  background: #1abc9c;
  color: #fff;
  margin: 0;
  padding: 10px 20px;
  font-family: "Roboto";
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}
.list h1 a {
  position: absolute;
  top: 50%;
  right: 20px;
  background: #fff;
  /* IE Fallback */
  background: rgba(255, 255, 255, 0.15);
  width: 24px;
  height: 24px;
  margin: -12px 0 0 0;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.list h1 a:hover {
  background: rgba(255, 255, 255, 0.2);
}
.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list ul li {
  background: #fff;
  height: 40px;
  color: #666;
  line-height: 40px;
  padding: 0 20px 0 0;
}
.list ul li a {
  display: inline-block;
  background: #2ecc71;
  width: 0px;
  height: 40px;
  margin-right: 16px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  opacity: 0;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.list ul li:nth-child(2n) {
  background: #f7f7f7;
}
.list ul li:hover a {
  width: 40px;
  opacity: 1;
}
.hoverMe {
  background: #fff;
  /* IE Fallback */
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 95px;
  left: -60px;
  padding: 5px 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #1abc9c;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 800;
}
.hoverMe:before {
  content: "";
  position: absolute;
  top: 6px;
  right: -5px;
  width: 0px;
  height: 0px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5 solid #fff;
  /* IE Fallback */
  border-left: 5px solid rgba(255, 255, 255, 0.8);
}



/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  width: 100%;
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}